@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #F4F8FB;
  font-family: "Roboto", sans-serif;
}

.header-section-wrapper {
  padding: 10px 0;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.05) inset;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  z-index: 9;
  background: #F4F8FB;
  transition: 0.4s ease-in-out;
}
.header-section-wrapper .navbar .navbar-brand img {
  max-width: 150px;
}
@media (max-width: 991px) {
  .header-section-wrapper .navbar .navbar-toggler {
    display: none;
  }
}
.header-section-wrapper .navbar .myicon {
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
}
@media (max-width: 991px) {
  .header-section-wrapper .navbar .myicon {
    display: block;
  }
}
.header-section-wrapper .navbar .myicon .menu-dots {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  transform: translate(-50%, -50%);
  font-size: 30px;
  cursor: pointer;
  color: #D03A3B;
}
.header-section-wrapper .navbar .myicon .cross {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  transform: translate(-50%, -50%);
  font-size: 40px !important;
  color: #D03A3B;
}
.header-section-wrapper .navbar .collapsing .navbar-nav,
.header-section-wrapper .navbar .collapse .navbar-nav {
  margin-left: 50px;
}
@media (max-width: 1399px) {
  .header-section-wrapper .navbar .collapsing .navbar-nav,
.header-section-wrapper .navbar .collapse .navbar-nav {
    margin-left: 30px;
  }
}
.header-section-wrapper .navbar .collapsing .navbar-nav .nav-item .nav-link,
.header-section-wrapper .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 18px;
  color: rgba(19, 27, 49, 0.8);
  padding: 8px 15px;
  position: relative;
}
@media (max-width: 1199px) {
  .header-section-wrapper .navbar .collapsing .navbar-nav .nav-item .nav-link,
.header-section-wrapper .navbar .collapse .navbar-nav .nav-item .nav-link {
    padding: 8px 10px;
  }
}
.header-section-wrapper .navbar .collapsing .navbar-nav .nav-item .nav-link::before,
.header-section-wrapper .navbar .collapse .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  background: #D03A3B;
  left: 0;
  bottom: 0;
  height: 2px;
  transform: scaleX(0);
  transform-origin: middle;
  transition: 0.5s ease;
}
.header-section-wrapper .navbar .collapsing .navbar-nav .nav-item .nav-link:hover,
.header-section-wrapper .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #D03A3B;
}
.header-section-wrapper .navbar .collapsing .navbar-nav .nav-item .nav-link:hover::before,
.header-section-wrapper .navbar .collapse .navbar-nav .nav-item .nav-link:hover::before {
  transform: scaleX(1);
}
.header-section-wrapper .navbar .collapsing .phone-no a,
.header-section-wrapper .navbar .collapse .phone-no a {
  text-decoration: none;
  background-color: #df2d2d;
  color: #fff;
  font-weight: 600;
  padding: 7px 65px;
  border-radius: 5px;
  font-size: 26px;
  transition: 0.5s ease-in-out;
}
@media (max-width: 1399px) {
  .header-section-wrapper .navbar .collapsing .phone-no a,
.header-section-wrapper .navbar .collapse .phone-no a {
    font-size: 24px;
    padding: 7px 20px;
  }
}
.header-section-wrapper .navbar .collapsing .phone-no a:hover,
.header-section-wrapper .navbar .collapse .phone-no a:hover {
  background: #131B31;
}

.mobile-menu-wrapper #sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffffff;
  color: #000000;
  transition: all 0.3s;
  position: fixed;
  z-index: 999;
  height: 100vh;
  left: -250px;
  top: 0;
  box-shadow: inset -3px 0 5px -3px rgba(0, 0, 0, 0.4);
  background-color: #131B31;
  display: flex;
  flex-direction: column;
}
.mobile-menu-wrapper #sidebar .sidebar-header {
  padding: 20px;
  margin-bottom: 50px;
}
.mobile-menu-wrapper #sidebar .sidebar-header a {
  text-decoration: none;
}
.mobile-menu-wrapper #sidebar .sidebar-header a img {
  max-width: 120px;
}
.mobile-menu-wrapper #sidebar .main-menu {
  margin: 0;
  padding: 0;
}
.mobile-menu-wrapper #sidebar .main-menu li {
  list-style: none;
  padding: 7px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  transition: 0.2s ease-in-out;
}
.mobile-menu-wrapper #sidebar .main-menu li a {
  display: block;
  text-decoration: none;
  padding-left: 20px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
.mobile-menu-wrapper #sidebar .main-menu li:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.mobile-menu-wrapper #sidebar .main-menu li:hover a {
  color: #be1a3b;
}
.mobile-menu-wrapper #sidebar .mobile-pnone {
  margin: 0;
  padding: 20px 20px 50px 20px;
  margin-top: auto;
}
.mobile-menu-wrapper #sidebar .mobile-pnone li {
  list-style: none;
}
.mobile-menu-wrapper #sidebar .mobile-pnone li a {
  border: 2px solid transparent;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #df2d2d;
  color: #fff;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 22px;
  transition: 0.5s ease-in-out;
}
.mobile-menu-wrapper #sidebar .mobile-pnone li a:hover {
  border-color: #fff;
  background: #131B31;
}

.latest-section-wrapper {
  margin-top: 121px;
}
.latest-section-wrapper .container .latest-inner-wrapper h1 {
  text-align: center;
  font-weight: bold;
  color: rgba(223, 45, 45, 0.9);
  position: relative;
  max-width: 225px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7px;
  margin-bottom: 40px;
  font-size: 40px;
}
@media (max-width: 767px) {
  .latest-section-wrapper .container .latest-inner-wrapper h1 {
    font-size: 32px;
    max-width: 179px;
  }
}
.latest-section-wrapper .container .latest-inner-wrapper h1::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  content: "";
  background-color: rgba(223, 45, 45, 0.8);
  border-radius: 5px;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 15px;
    grid-template-rows: auto auto;
    grid-template-areas: "hd dh" "third third";
  }
}
@media (max-width: 767px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper {
    grid-template-columns: auto;
    grid-template-columns: auto;
    grid-template-areas: "fh" "hf" "sf";
  }
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .first-box {
  width: 40%;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
@media (max-width: 991px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .first-box {
    width: 100%;
    grid-area: hd;
  }
}
@media (max-width: 767px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .first-box {
    grid-area: fh;
  }
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .first-box:hover {
  box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .first-box .image-box img {
  height: 250px;
  object-fit: cover;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box {
  width: 28%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box {
    width: 100%;
    grid-area: dh;
  }
}
@media (max-width: 767px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box {
    grid-area: hf;
  }
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box .middle-top-box {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box .middle-top-box {
    margin-bottom: 15px;
  }
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box .middle-top-box:hover {
  box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box .middle-bottom-box {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: auto;
  transition: 0.2s ease-in-out;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box .middle-bottom-box:hover {
  box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box .middle-bottom-box .image-box img {
  height: 170px;
  object-fit: cover;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .second-box .middle-bottom-box .bottom-section .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .third-box {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 28%;
  transition: 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .third-box {
    width: 100%;
    grid-area: third;
  }
}
@media (max-width: 767px) {
  .latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .third-box {
    grid-area: sf;
  }
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .third-box:hover {
  box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .third-box .image-box img {
  width: 100%;
  object-fit: cover;
  height: 259px;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .third-box .bottom-section .third-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #131B31;
  font-size: 23px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 24px;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a {
  text-decoration: none;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .image-box {
  overflow: hidden;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .image-box img {
  width: 100%;
  transition: 1s ease-in-out;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section {
  padding: 15px;
  background-color: #fff;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .first-title {
  color: #131B31;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 16px;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .title {
  color: #131B31;
  font-size: 23px;
  font-weight: 500;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 16px;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .content-para {
  font-size: 16px;
  color: rgba(19, 27, 49, 0.6);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .catogory-main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .catogory-main-wrapper .category-time {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .catogory-main-wrapper .category-time .category {
  padding-right: 10px;
  border-right: 2px solid rgba(19, 27, 49, 0.6);
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .catogory-main-wrapper .category-time .category h6 {
  color: #009dff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 14px;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .catogory-main-wrapper .category-time .time {
  padding-left: 10px;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .catogory-main-wrapper .category-time .time h6 {
  color: rgba(19, 27, 49, 0.6);
  font-weight: 600;
  margin-bottom: 0;
  font-size: 14px;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a .bottom-section .catogory-main-wrapper .date h6 {
  margin-bottom: 0;
  color: rgba(19, 27, 49, 0.6);
  font-size: 14px;
  font-weight: 600;
}
.latest-section-wrapper .container .latest-inner-wrapper .latest-box-wrapper .latest-box a:hover .image-box img {
  transform: scale(1.5);
}

.trending-news-wrapper {
  margin-top: 40px;
  padding-bottom: 50px;
}
.trending-news-wrapper .trending-inner-wrapper h1 {
  text-align: center;
  font-weight: bold;
  color: rgba(223, 45, 45, 0.9);
  position: relative;
  max-width: 272px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  font-size: 40px;
}
@media (max-width: 767px) {
  .trending-news-wrapper .trending-inner-wrapper h1 {
    font-size: 32px;
    max-width: 217px;
  }
}
.trending-news-wrapper .trending-inner-wrapper h1::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  content: "";
  background-color: rgba(223, 45, 45, 0.8);
  border-radius: 5px;
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper {
  border-top: 2px solid rgba(19, 27, 49, 0.1);
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 991px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper {
    display: unset;
  }
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left {
  width: 47%;
}
@media (max-width: 991px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left {
    width: 100%;
  }
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box {
  transition: 0.2s ease-in-out;
  padding: 15px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box {
    padding: 10px 10px;
    margin-bottom: 5px;
  }
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box:hover {
  box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a {
  text-decoration: none;
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .img-box {
  margin-right: 20px;
}
@media (max-width: 1199px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .img-box {
    margin-right: 10px;
  }
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .img-box img {
  max-width: 180px;
  height: 130px;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .img-box img {
    max-width: 130px;
    height: 112px;
  }
}
@media (max-width: 400px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .img-box img {
    max-width: 110px;
    height: 110px;
  }
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side h3 {
  font-size: 22px;
  color: #131B31;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}
@media (max-width: 1199px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side h3 {
    font-size: 19px;
  }
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side p {
  font-size: 16px;
  color: rgba(19, 27, 49, 0.6);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
@media (max-width: 1199px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side p {
    font-size: 15px;
    line-height: 18px;
  }
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side .catogory-main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side .catogory-main-wrapper .category-time {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side .catogory-main-wrapper .category-time .category h6 {
  color: #009dff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 14px;
}
@media (max-width: 1199px) {
  .trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side .catogory-main-wrapper .category-time .category h6 {
    font-size: 13px;
  }
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side .catogory-main-wrapper .category-time .time {
  padding-left: 10px;
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side .catogory-main-wrapper .category-time .time h6 {
  color: rgba(19, 27, 49, 0.6);
  font-weight: 600;
  margin-bottom: 0;
  font-size: 14px;
}
.trending-news-wrapper .trending-inner-wrapper .trending-box-wrapper .trending-box-left .trending-box a .trending-box-inner .right-side .catogory-main-wrapper .date h6 {
  margin-bottom: 0;
  color: rgba(19, 27, 49, 0.6);
  font-size: 14px;
  font-weight: 600;
}

.single-page-wrapper {
  margin-top: 136px;
}
.single-page-wrapper .container .back-btn {
  margin-bottom: 20px;
}
.single-page-wrapper .container .back-btn a {
  text-decoration: none;
}
.single-page-wrapper .container .back-btn a .back-wrapper {
  align-items: center;
}
.single-page-wrapper .container .back-btn a .back-wrapper span {
  color: #be1a3b;
  font-weight: 500;
  font-size: 28px;
}
.single-page-wrapper .container .single-inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .single-page-wrapper .container .single-inner-wrapper {
    display: unset;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-left {
  width: 65%;
}
@media (max-width: 991px) {
  .single-page-wrapper .container .single-inner-wrapper .single-left {
    width: 100%;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-left .single-title {
  color: #131B31;
  line-height: 36px;
  margin-bottom: 15px;
}
.single-page-wrapper .container .single-inner-wrapper .single-left .admin-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(19, 27, 49, 0.1);
  padding-bottom: 7px;
  justify-content: space-between;
}
.single-page-wrapper .container .single-inner-wrapper .single-left .admin-date .admin {
  margin-right: 10px;
}
.single-page-wrapper .container .single-inner-wrapper .single-left .admin-date .admin h6 {
  margin-bottom: 0;
  color: rgba(19, 27, 49, 0.8);
}
@media (max-width: 425px) {
  .single-page-wrapper .container .single-inner-wrapper .single-left .admin-date .admin h6 {
    font-size: 14px;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-left .admin-date .admin h6 .admin-name {
  font-style: italic;
  color: #009dff;
}
.single-page-wrapper .container .single-inner-wrapper .single-left .admin-date .admin h6 .newsname {
  color: #131b31;
}
.single-page-wrapper .container .single-inner-wrapper .single-left .admin-date .date h6 {
  margin-bottom: 0;
  color: #131B31;
  color: rgba(19, 27, 49, 0.8);
}
@media (max-width: 425px) {
  .single-page-wrapper .container .single-inner-wrapper .single-left .admin-date .date h6 {
    font-size: 14px;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-left .admin-date .date h6 span {
  color: #131b31;
}
.single-page-wrapper .container .single-inner-wrapper .single-left .single-img-box {
  margin-bottom: 20px;
}
.single-page-wrapper .container .single-inner-wrapper .single-left .single-img-box img {
  width: 100%;
}
.single-page-wrapper .container .single-inner-wrapper .single-left .single-para {
  font-size: 19px;
  color: rgba(19, 27, 49, 0.8);
}
@media (max-width: 575px) {
  .single-page-wrapper .container .single-inner-wrapper .single-left .single-para {
    font-size: 18px;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-right {
  width: 33%;
}
@media (max-width: 991px) {
  .single-page-wrapper .container .single-inner-wrapper .single-right {
    width: 100%;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-right h2 {
  text-align: center;
  font-weight: bold;
  color: rgba(223, 45, 45, 0.9);
  position: relative;
  max-width: 248px;
  padding-bottom: 7px;
  margin-bottom: 35px;
  font-size: 40px;
}
@media (max-width: 991px) {
  .single-page-wrapper .container .single-inner-wrapper .single-right h2 {
    font-size: 32px;
    max-width: 200px;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-right h2::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  content: "";
  background-color: rgba(223, 45, 45, 0.8);
  border-radius: 5px;
}
.single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box {
  margin-bottom: 5px;
}
.single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a {
  display: block;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  padding: 10px;
  border-radius: 3px;
}
.single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a:hover {
  background-color: #fff;
  box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
}
.single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .img-box {
  margin-right: 15px;
}
@media (max-width: 1199px) {
  .single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .img-box {
    margin-right: 10px;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .img-box img {
  max-width: 145px;
  height: 100px;
  object-fit: cover;
}
@media (max-width: 1399px) {
  .single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .img-box img {
    max-width: 120px;
  }
}
@media (max-width: 991px) {
  .single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .img-box img {
    max-width: 130px;
    height: 112px;
  }
}
@media (max-width: 400px) {
  .single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .img-box img {
    max-width: 110px;
    height: 110px;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .right-side h3 {
  font-size: 20px;
  color: #131B31;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 575px) {
  .single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .right-side h3 {
    font-size: 19px;
  }
}
.single-page-wrapper .container .single-inner-wrapper .single-right .related-box-wrapper .related-box a .trending-box-inner .right-side p {
  font-size: 16px;
  color: rgba(19, 27, 49, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.goto-originalnews-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
.goto-originalnews-btn .goto-btn a {
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #df2d2d;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  padding: 17px 0;
  animation: change 5s infinite;
}

.footer-wrapper {
  background-color: #131B31;
  padding: 20px 0;
}
.footer-wrapper .container .footer-inner {
  text-align: center;
}
.footer-wrapper .container .footer-inner p {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}

@keyframes change {
  0% {
    background-color: #d42a4c;
  }
  50% {
    background-color: #802323;
  }
  100% {
    background-color: #df2d2d;
  }
}
.highlight-red {
  background-color: #FFC6C7;
  padding: 0 5px;
}

.highlight-yellow {
  padding: 0 5px;
  background-color: #FFEDAD;
}

/*# sourceMappingURL=style.css.map */
